#contact-id {
  display: grid;
  place-items: center;
  font-family: 'Ubuntu', sans-serif; 
  background-color: #dedbd26c;
}
.contact-header {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 50px;
  margin-bottom: 60px;
}
.contact-header::after {
  content: '';
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: black;
}
.contact-cont {
  width: 60%;
  padding: 45px;
  border-radius: 0;
}
.contact-shadow {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.contact-column-1 {
  padding: 20px;
}
.contact-column-2 {
  padding: 20px;
}
.form-control {
  height: 52px;
  background: white;
  color: black;
  font-size: 14px;
  border-radius: 10px;
  box-sizing: none !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bi {
  font-size: 20px;
}
.contact-p {
  font-size: 18px;
  padding-left: 18px;
}

@media (max-width: 768px) {
  .contact-cont {
    width: 100%;
    left: 50%;
    top: 90%;
  }
}