@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@400;500&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.home-img-logo {
  height: 6rem;
}
a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.sidebar-logo {
  height: 5rem;
}
.nav-link {
  position: relative;
}
.nav-link::after {
  content: "";
  opacity: 0;
  height: 2px;
  width: 100%;
  background-color: #adc178;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}
.nav-link.active::after {
  opacity: 1;
}
.nav-link:hover::after {
  opacity: 1;
}

@media (max-width: 768px) {
  .sidebar {
    background-color: rgba(68, 68, 39, 0.199);
    backdrop-filter: blur(10px); 
  }
}