@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu:wght@400;500&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */

.home-img-logo {
  height: 6rem;
}
a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.sidebar-logo {
  height: 5rem;
}
.navbar {
  transition: all 0.5s;
  height: 6rem;
}
.navbar-scroll {
  background-color: #212529;
  box-shadow: 0, 3px, 10px rgba(0, 0, 0, 0.199);
}


@media (max-width: 768px) {
  .sidebar {
    background-color: rgba(68, 68, 39, 0.199);
    backdrop-filter: blur(10px);
  }
}