#promo-id {
  display: grid;
  place-items: center;
  font-family: 'Ubuntu', sans-serif; 
}
.promo-section-header {
  position: relative;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 50px;
  margin-bottom: 60px;
}
.promo-section-header::after {
  content: '';
  height: 3px;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 100px);
  background: black;
}
.destination-image-cont {
  position: relative;
}
.overlay-text-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}
.dubai-img {
  height: 760px;
}
.dubai-txt {
  margin-bottom: 35px;
  margin-right: 15px;
}
.overlay-text-img > * {
  transform: translateY(25px);
  transition: 0.25s;
}
.overlay-text-img:hover > * {
  transform: translateY(0);
} 
.overlay-text-img:hover {
  opacity: 1;
}